* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 10px;
}

.section {
    width: 100%;
    border: 0.2em solid #999; 
    box-sizing: border-box;
}
.section > .commonBg {
    width: 100%;
    height: 8em;
    background: #eee;
    overflow: hidden;
}
.flex-mode {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 1、透明边框 */
#translucent > div {
    background: #aaa;
}
#translucent > div > div {
    width: 50%;
    height: 3em;
    margin: 2em auto;
    background: white;
    border: 0.5rem solid hsla(0,0%,100%,.5);
    background-clip: padding-box;
}

/* 2、多重边框 */
#multiborder > div > div:first-child {
    width: 30%;
    height: 2em;
    background: yellowgreen;
    box-shadow: 0 0 0 10px,
                0 0 0 15px deeppink,
                0 2px 5px 15px rgba(0,0,0,0.6);
}
#multiborder > div > div:last-child {
    width: 30%;
    height: 2em;
    background: yellowgreen;
    border: 10px solid #655;
    outline: 5px solid deeppink;
}

/* 3、灵活的背景定位 */
#backgroundpos > div {
    background: #58a url(./code.svg) no-repeat bottom right/ 4em;
    background-position: bottom 1em right 2em; /* 兼容写法 */
}

/* 4、边框内圆角 */
#borderradius > div > div {
    width: 40%;
    height: 4em;
    margin: 2em auto;
    margin-bottom: 0;
    background: tan;
    border-radius: 1em;
    box-shadow: 0 0 0 .5em #655;
    outline: 0.5em solid #655;
}

/* 5、条纹背景 */
#stripedbackground > div > div {
    width: 20%;
    height: 4em;
}
#stripedbackground > div > div:first-child {
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 2em;
}
#stripedbackground > div > div:nth-child(2) {
    /* 0 表示值等于前一个色标的位置 */
    background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
} 
#stripedbackground > div > div:nth-child(3) {
    background: linear-gradient(45deg, #fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
} 
#stripedbackground > div > div:nth-child(4) {
    background: #58a;
    background-image: repeating-linear-gradient(30deg,
        hsla(0, 0%, 100%, .1),
        hsla(0, 0%, 100%, .1) 1.5em,
        transparent 0,
        transparent 3em
    );
    background-image: repeating-linear-gradient(30deg,
        #79b,
        #79b 1.5em,
        #58a 0,
        #58a 3em
    );
} 

/* 6、复杂背景 */
#complexbackground > div > div {
    width: 20%;
    height: 4em;
}
#complexbackground > div > div:first-child {
    background: white;
    background-image: linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0),
                      linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0);
    background-size: 1.5em 1.5em;
}
#complexbackground > div > div:nth-child(2) {
    background: #58a;
    background-image: linear-gradient(white 1px, transparent 0),
                      linear-gradient(90deg, white 1px, transparent 0);
    background-size: 1.5em 1.5em;
}
#complexbackground > div > div:nth-child(3) {
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
                      radial-gradient(tan 30%, transparent 0);
    background-size: 1em 1em;
    background-position: 0 0, 0.5em 0.5em;
}
#complexbackground > div > div:nth-child(4) {
    background: #fff;
    background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
                      linear-gradient(45deg, transparent 75%, #bbb 0),
                      linear-gradient(45deg, #bbb 25%, transparent 0),
                      linear-gradient(45deg, transparent 75%, #bbb 0);
    background-size: 1em 1em;
    background-position: 0 0, 0.5em 0.5em, 0.5em 0.5em, 1em 1em;
}

/* 7.伪随机背景 */
#randombackground > div > div {
    width: 80%;
    height: 4em;
    background: hsla(20, 40%, 90%);
    background-image:
        linear-gradient(90deg, #fb3 1.1em, transparent 0),
        linear-gradient(90deg, #ab4 2.3em, transparent 0),
        linear-gradient(90deg, #665 4.1em, transparent 0);
    background-size: 41px 100%, 61px 100%, 8.3em 100%;
}

/* 8. 连续的图像边框 */
#imageborderbackground > div > div {
    width: 30%;
    height: 2em;
}
imageborder{
    padding: 1em;
    border: 1em solid transparent;
    background: linear-gradient(white, white),
                url(stone-art.jpg);
    background-size: cover;
    background-clip: padding-box, border-box;
    background-origin: border-box;
}
#imageborderbackground > div > div:first-child {
    padding: 0.5em;
    border: 1em solid transparent;
    background: 
        linear-gradient(white, white) padding-box,
        repeating-linear-gradient(
            -45deg, red 0, red 12.5%, 
            transparent 0, transparent 25%,
            #58a 0, #58a 37.5%,
            transparent 0, transparent 50%
        ) 0 / 5em 5em;
}
@keyframes ants { to {background-position: 100%}}
#imageborderbackground > div > div:nth-child(2) {
    padding: 1em;
    border: 1px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        repeating-linear-gradient(-45deg,
            black 0, black 25%, white 0, white 50%
        ) 0 / .6em .6em;
    animation: ants 12s linear infinite;
}

/* 9. 自适应椭圆 */
#adaptivedeclipse > div > div {
    width: 25%;
    height: 4em;
    background: white;
    border: #000 1px solid;
}
#adaptivedeclipse > div > div:first-child {
    /* 可以通过/分割，分别设置水平/垂直方向的圆角信息 */
    border-radius: 1em / 0.75em;
    /* 根据矩形大小自适应的方法可以写成 */
    /* border-radius: 50% / 50%;   */
}
#adaptivedeclipse > div > div:nth-child(2) {
    /* 左上角开始顺时针、1和3同 2和4同 */
    border-radius: 50% / 100% 100% 0 0;
} 
#adaptivedeclipse > div > div:nth-child(3) {
    border-radius: 100% 0 0 0;
} 