* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 10px;
}

.section {
    width: 100%;
    border: 0.2em solid #999; 
    box-sizing: border-box;
}
.section > .commonBg {
    width: 100%;
    height: 8em;
    background: #eee;
    overflow: hidden;
}
.flex-mode {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/****/
/* Chapter 2 背景与边框 */
/****/
/* 1、透明边框 */
#translucent > div {
    background: #aaa;
}
#translucent > div > div {
    width: 50%;
    height: 3em;
    margin: 2em auto;
    background: white;
    border: 0.5rem solid hsla(0,0%,100%,.5);
    background-clip: padding-box;
}

/* 2、多重边框 */
#multiborder > div > div:first-child {
    width: 30%;
    height: 2em;
    background: yellowgreen;
    box-shadow: 0 0 0 10px,
                0 0 0 15px deeppink,
                0 2px 5px 15px rgba(0,0,0,0.6);
}
#multiborder > div > div:last-child {
    width: 30%;
    height: 2em;
    background: yellowgreen;
    border: 10px solid #655;
    outline: 5px solid deeppink;
}

/* 3、灵活的背景定位 */
#backgroundpos > div {
    background: #58a url(./pic/code.svg) no-repeat bottom right/ 4em;
    background-position: bottom 1em right 2em; /* 兼容写法 */
}

/* 4、边框内圆角 */
#borderradius > div > div {
    width: 40%;
    height: 4em;
    margin: 2em auto;
    margin-bottom: 0;
    background: tan;
    border-radius: 1em;
    box-shadow: 0 0 0 .5em #655;
    outline: 0.5em solid #655;
}

/* 5、条纹背景 */
#stripedbackground > div > div {
    width: 20%;
    height: 4em;
}
#stripedbackground > div > div:first-child {
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 2em;
}
#stripedbackground > div > div:nth-child(2) {
    /* 0 表示值等于前一个色标的位置 */
    background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
} 
#stripedbackground > div > div:nth-child(3) {
    background: linear-gradient(45deg, #fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
} 
#stripedbackground > div > div:nth-child(4) {
    background: #58a;
    background-image: repeating-linear-gradient(30deg,
        hsla(0, 0%, 100%, .1),
        hsla(0, 0%, 100%, .1) 1.5em,
        transparent 0,
        transparent 3em
    );
    background-image: repeating-linear-gradient(30deg,
        #79b,
        #79b 1.5em,
        #58a 0,
        #58a 3em
    );
} 

/* 6、复杂背景 */
#complexbackground > div > div {
    width: 20%;
    height: 4em;
}
#complexbackground > div > div:first-child {
    background: white;
    background-image: linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0),
                      linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0);
    background-size: 1.5em 1.5em;
}
#complexbackground > div > div:nth-child(2) {
    background: #58a;
    background-image: linear-gradient(white 1px, transparent 0),
                      linear-gradient(90deg, white 1px, transparent 0);
    background-size: 1.5em 1.5em;
}
#complexbackground > div > div:nth-child(3) {
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
                      radial-gradient(tan 30%, transparent 0);
    background-size: 1em 1em;
    background-position: 0 0, 0.5em 0.5em;
}
#complexbackground > div > div:nth-child(4) {
    background: #fff;
    background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
                      linear-gradient(45deg, transparent 75%, #bbb 0),
                      linear-gradient(45deg, #bbb 25%, transparent 0),
                      linear-gradient(45deg, transparent 75%, #bbb 0);
    background-size: 1em 1em;
    background-position: 0 0, 0.5em 0.5em, 0.5em 0.5em, 1em 1em;
}

/* 7.伪随机背景 */
#randombackground > div > div {
    width: 80%;
    height: 4em;
    background: hsla(20, 40%, 90%);
    background-image:
        linear-gradient(90deg, #fb3 1.1em, transparent 0),
        linear-gradient(90deg, #ab4 2.3em, transparent 0),
        linear-gradient(90deg, #665 4.1em, transparent 0);
    background-size: 41px 100%, 61px 100%, 8.3em 100%;
}

/* 8. 连续的图像边框 */
#imageborderbackground > div > div {
    width: 30%;
    height: 2em;
}
imageborder{
    padding: 1em;
    border: 1em solid transparent;
    background: linear-gradient(white, white),
                url(stone-art.jpg);
    background-size: cover;
    background-clip: padding-box, border-box;
    background-origin: border-box;
}
#imageborderbackground > div > div:first-child {
    padding: 0.5em;
    border: 1em solid transparent;
    background: 
        linear-gradient(white, white) padding-box,
        repeating-linear-gradient(
            -45deg, red 0, red 12.5%, 
            transparent 0, transparent 25%,
            #58a 0, #58a 37.5%,
            transparent 0, transparent 50%
        ) 0 / 5em 5em;
}
@keyframes ants { to {background-position: 100%}}
#imageborderbackground > div > div:nth-child(2) {
    padding: 1em;
    border: 1px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        repeating-linear-gradient(-45deg,
            black 0, black 25%, white 0, white 50%
        ) 0 / .6em .6em;
    animation: ants 12s linear infinite;
}

/****/
/* Chapter 3 形状 */
/****/
/* 9. 自适应椭圆 */
#adaptivedeclipse > div > div {
    width: 25%;
    height: 4em;
    background: white;
    border: #000 1px solid;
}
#adaptivedeclipse > div > div:first-child {
    /* 可以通过/分割，分别设置水平/垂直方向的圆角信息 */
    border-radius: 1em / 0.75em;
    /* 根据矩形大小自适应的方法可以写成 */
    /* border-radius: 50% / 50%;   */
}
#adaptivedeclipse > div > div:nth-child(2) {
    /* 左上角开始顺时针、1和3同 2和4同 */
    border-radius: 50% / 100% 100% 0 0;
} 
#adaptivedeclipse > div > div:nth-child(3) {
    border-radius: 100% 0 0 0;
} 

/* 10. 平行四边形 */
#parallelogram > div > div {
    width: 40%;
    height: 4em;
    color: white;
    text-align: center;
    line-height: 4em;
}
#parallelogram > div > div:first-child {
    transform: skewX(-45deg);
    background: #58a;
}
#parallelogram > div > div:first-child > div {
    transform: skewX(45deg);
}
#parallelogram > div > div:nth-child(2){
    position: relative;
    z-index: 0;
}
#parallelogram > div > div:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background: #58a;
    transform: skewX(-45deg);
}

/* 11. 菱形图片 */
#diamondpic > div > div,
#diamondpic > div > img {
    width: 4em;
    height: 4em;
}
#diamondpic > div > div:first-child {
    transform: rotate(45deg);
    overflow: hidden;
}
#diamondpic > div > div:first-child > img {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.42);
}
#diamondpic > div > img:last-child {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
/* 12. 切角效果 */
#cornercut > div > div {
    width: 4em;
    height: 4em;
    background: #58a;
}
#cornercut > div > div:first-child {
    background: 
        linear-gradient(135deg, transparent 10px, #58a 0) top left,
        linear-gradient(-135deg, transparent 10px, #58a 0) top right,
        linear-gradient(45deg, transparent 10px, #58a 0) bottom left,
        linear-gradient(-45deg, transparent 10px, #58a 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
#cornercut > div > div:nth-child(2) {
    background: 
        radial-gradient(circle at top left, transparent 10px, #58a 0) top left,
        radial-gradient(circle at top right, transparent 10px, #58a 0) top right,
        radial-gradient(circle at bottom left, transparent 10px, #58a 0) bottom left,
        radial-gradient(circle at bottom right, transparent 10px, #58a 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
/* 13. 梯形标签页 */
#laddertab > div > div {
    width: 7em;
    height: 4em;
    position: relative;
    color: white;
    z-index: 0;
    background: rgba(220, 220, 220, 0.8);
    text-align: center;
    line-height: 4em;
}
#laddertab > div > div::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background: #58a;
    transform: scaleY(1.3) perspective(.5em) rotateX(5deg);
    transform-origin: bottom;
}
/* 14. 简单饼图 */
#simplepie > div > div {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background: yellowgreen;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
}
#simplepie > div > div::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
}
#simplepie > div > div:first-child::before {
    transform: rotate(.1turn);
}
@keyframes simplepie-skin {
    to { transform: rotate(.5turn);}
}
@keyframes simplepie-bg {
    50% { background: #655;}
}
#simplepie > div > div:nth-child(2)::before {
    animation: 
        simplepie-skin 3s linear infinite,
        simplepie-bg 6s step-end infinite;
}

#simplepie > div > div:nth-child(3)::before {
    animation: 
        simplepie-skin 50s linear infinite,
        simplepie-bg 100s step-end infinite;
    animation-play-state: paused;
    animation-delay: -60s;
}

/****/
/* Chapter 4 */
/****/
/* 14. 简单饼图 */
#asideshadow > div > div {
    width: 8em;
    height: 4em;
    background: yellowgreen;
}
#asideshadow > div > div:first-child {
    box-shadow: 0 0.6em 0.4em -0.4em black;
}
#asideshadow > div > div:nth-child(2) {
    box-shadow: 
        0 0.6em 0.4em -0.4em black,
        0 -0.6em 0.4em -0.4em black;
}
/* 16. 染色效果 */
#dyeingeffect > div > img,
#dyeingeffect > div > div {
    width: 4em;
    height: 4em;
}
/* 1 */
#dyeingeffect > div > img:first-child {
    filter: sepia(1) saturate(4) hue-rotate(280deg);
}
/* 2 */
#dyeingeffect > div > div:nth-child(2) {
    background-size: cover;
    background-color: #fb3;
    background-blend-mode: luminosity;
}
/* 3 */
#dyeingeffect > div > div:last-child {
    background-color: #ab4;
}
#dyeingeffect > div > div:last-child > img {
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
}
/* 18. 毛玻璃效果 */
#aero > div {
    width: 100%;
    height: 16em;
}
#aero > div > div {
    width: 16em;
    height: 10em;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    z-index: 0;
    text-align: center;
}
#aero > div > div::before {
    content: "";
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: rgba(220, 220, 220, 0.3);
    filter: blur(2em);
    margin: -3em;
    z-index: -1;
}
#aero > div,
#aero > div > div::before {
    background: url(./pic/bg.jpg) 50%/cover fixed;
}
/* 19. 折角效果 */
#flodedcorner > div > div {
    width: 8em;
    height: 4em;
    background: #58a;
    background: 
        linear-gradient(to left bottom, 
            transparent 50%, rgba(0,0,0,0.4) 0)
            no-repeat 100% 0/2em 2em,
        linear-gradient(-135deg,
            transparent 1.42em, #58a 0);
}
/****/
/* Chapter 5 */
/****/
/* 20.连字符断行 */
#textalign > div > div {
    width: 7.5em;
    height: 6em;
    background: white;
}
#textalign > div > div:nth-child(2) {
    color: blue;
    hyphens: none;
}
#textalign > div > div:nth-child(3) {
    color: red;
    hyphens: auto;
}
/* 21.插入换行 */
#insertlinefeed > div > dl > dt,
#insertlinefeed > div > dl > dd {
    display: inline;
}
#insertlinefeed > div > dl > dd + dt::before {
    content: "\A";
    white-space: pre;
}
#insertlinefeed > div > dl > dd + dd::before {
    content: ", ";
}
/* 22. 文本行的斑马条纹 */
#zebrastripes > div > div {
    padding: .5em;
    line-height: 1.5;
    background: linear-gradient(#fff 50%, #ccc 0);
    background-size: auto 3em;
    background-origin: content-box;
}
/* 23. 调整tab的宽度 */
#tabsize > div > pre {
    white-space: pre;
    tab-size: 8;
}
/* 24. 连字 */
#ligature > div > p {
    font-size: 30px;
    font-variant-ligatures: 
        common-ligatures
        no-additional-ligatures
        no-historical-ligatures;
}